<html>
  <head></head>
  <body>
	<form action="/api/v1" method="POST">
	  <input name="title" type="text" value=""/>
	  <input name="body" type="text" value=""/>
	  <input name="tags_string" type="text" value=""/>
	  <input name="" type="submit" value="test"/>
	</form>
  </body>
</html>
